.gallery{
  &__container{
    margin: 0 auto;
    padding: 30px 50px;
    @mixin at-lg-mobile{
      padding: 15px 60px;
    }
    .gallery__card{
      margin: 10px;
      @mixin at-lg-mobile{
        margin: 15px;
      }
      @mixin at-tablet{
        margin: 0 25px 25px 0;
      }
      border-radius: 4px;
      box-shadow: 0px 5px 6px 1px rgba(0,0,0,.14);
      transition: 100ms box-shadow,100ms transform;
      transition-timing-function: linear;
      &:hover{
        transform: scale(1.01);
        box-shadow: 0px 9px 12px 3px rgba(0,0,0,.14);
      }
     &__inner{
       width: 100%;
       border-radius: 0;
       cursor: pointer;
     }
     &__caption{
       width: 100%;
       height: 40px;
       padding-top: 8.5px;
       padding-left: 25px;
       cursor: pointer;
       h3{
         padding: 0;
         margin: 0;
         font-family: Arial;
         font-size: 20px;
         font-weight: normal;
       }
     }
    }
    display: table;
    clear: both;
  }
}