.header{
  overflow: hidden;
  padding-top: 2px;
  &-bar{
    box-shadow: 0 4px 10px rgba(0,0,0,.14);
  }
  h1{
    text-align: center;
    padding: 0;
    font-family: $default-font;
    font-weight: normal;
    color: $heading-color;
    @mixin at-sm-desktop{
      text-align: left;
      margin: 30px 100px;
    }
  }
}


.header-non-bar{
  overflow: hidden;
  padding-top: 2px;
  h1{
    text-align: center;
    padding: 0;
    font-family: $default-font;
    font-weight: normal;
    color: $heading-color;
    @mixin at-sm-desktop{
      margin: 30px 0;
    }
  }
}

.header-jumbo{
  position: relative;
  img{
    width: 100%;
    background-size: cover;
  }
  &__height-fixed{
    height: 300px;
  }
  h1{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translatex(-50%);
    font-family: $default-font;
    color: #fff;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 36px;
    @mixin at-lg-mobile{
      bottom: 30px;
      left: 50px;
      transform: translatex(0);
    }
  }

}