/* Colors */
$hero-primary: #f0f5f9;
$hero-secondry: #fbead6;
$primary-nav-bg: rgba(#f0effc,0.6);
$hero-primary: #8786e2;
$hero-secondry: #853828;
/* Convention Font Size */
/* Standart Font Size */
$SFS: 1rem;

/* Break Points Sizes */
$sm-mobile: 320px;
$md-mobile: 480px;
$lg-mobile: 768px;
$tablet: 992px;
$sm-desktop: 1024px;
$md-desktop: 1224px;
$lg-desktop: 1824px;

/* fonts */

$default-font: arial;